<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning pug</title>
    //-  style 
    //-      include static/style.css
</head>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet"  media="screen and (max-width:430px)" href="/static/style1.css">


  </body>
    <div class="navbar">
<ul class="nav">
    <li class="list"><a href="">Home</a></li>
    <li class="list"><a href="">Learn</a></li>
    <li class="list"><a href="">About</a></li>
</ul>
    </div>
    <section class="head">
        <h1>Fill the crediantials to take a tour to paris at @ 100$</h1>
    </section>
    <div class="container">
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Enter Your name">
            <input type="text" name="age" id="age" placeholder="Enter Your age">
            <input type="text" name="gender" id="gender" placeholder="Enter Your gender">  
            <textarea name="more" id="more" cols="20" rows="5" placeholder="more about you"></textarea>
            <button class="btn">submit</button>
        </form>
        </div>
    </body>
    </html>
